.heading {
  margin-top: 1.5em;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #000;
  text-shadow: -1px 1px #ef3550,
               -2px 2px #f48fb1,
               -3px 3px #7e57c2,
               -4px 4px #2196f3,
               -5px 5px #26c6da,
               -6px 6px #43a047,
               -7px 7px #eeff41,
               -8px 8px #f9a825,
               -9px 9px #ff5722;
}


/* Form styling */

.flag-icon {
  width: 80px;
  border-radius: 3px;
  margin-right: 8px;
}

/* Source: https://codepen.io/unnegative/pen/dVwYBq?editors=1100 */
.preview-btn {
  background-color: #302244;
  color: rgb(217, 227, 236);
  border: 3px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  padding: 0.5em;
}

/* Profile Image Styling */

.donut-container {
  padding: 20px;
  display: inline-block; /* Makes sure the container wraps the donut properly */
  background-color: transparent; /* Same as the background of the body or parent element */
}

.donut {
  width: 350px;
  height: 350px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  transform: rotate(135deg);
  margin: auto;
}
.donut::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: #8a8a8afb dashed 16px;
  z-index: -1;
}
.donut::after {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-image: url("../images/placeholder-smiley-face.webp");
  transform: rotate(225deg);
  border-radius: 50%;
  top: 65px;
  left: 65px;
  right: 65px;
  bottom: 65px;
}

#download-btn {
  display: none;
  width: fit-content;
  margin: 0 auto;
  background-color: #302244;
  color: rgb(217, 227, 236);
  border: 3px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  padding: 0.5em;
  text-decoration: none;
  font-weight: 700;
}
