.donut-container {
  padding: 20px;
  display: inline-block; /* Makes sure the container wraps the donut properly */
  background-color: transparent; /* Same as the background of the body or parent element */
}

.donut {
    width: 350px;
    height: 350px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    transform: rotate(135deg);
    margin: auto;
  }
  .donut::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    background: #8a8a8afb;
    z-index: -1;
  }
  .donut::after {
    content: "";
    display: block;
    position: absolute;
    background-size: cover;
    background-image: url("../images/placeholder-smiley-face.webp");
    transform: rotate(225deg);
    border-radius: 50%;
    top: 65px;
    left: 65px;
    right: 65px;
    bottom: 65px;
  }

  #download-btn {
    display: none;
    text-align: center;
  }